.unlock-element {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.unlock-element > button.link {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 0.8em;
  cursor: pointer;
  border: 1px solid;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.75);
  padding: 2px 0 2px 5px;
}

.unlock-element > button:hover,
.unlock-element > button:focus {
  background: rgba(0, 0, 0, 0.07);
}

.unlock-element > button::after {
  content: '🔒';
  border-radius: 25px;
  padding: 4px;
  margin-left: 4px;
  background: rgba(0, 0, 0, 0.07);
}

.unlock-element > button:hover::after,
.unlock-element > button:focus::after {
  content: '🔓';
  background: rgba(255, 255, 255, 0.75);
}

.field-protected {
  border: 1px dashed;
  padding: 3px 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  position: relative;
}

.field-protect-ack-form h4::before {
  content: '🔒';
  padding-right: 4px;
}

.field-protect-ack-form .button--secondary::before {
  content: '🔓';
  padding-right: 4px;
}
